body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

button {
    padding: 12px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#dataContainer {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    min-height: 200px;
    text-align: left;
    border-radius: 8px;
    background-color: #fafafa;
}

.user-card {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}